<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    
</head>
<body>
    <a href="/">
    {{#if isAuthenticated}}{{user.name}}'s{{/if}}
    Expense Tracker
    </a>
    {{#if isAuthenticated}}
     <a href="/users/logout" class="btn btn-outline-light">Logout</a>
{{else}}
  <a href="/users/login" class="btn btn-outline-light">Login</a>
{{/if}}
    {{{ body }}}
</body>
</html>