<a href="/records/new">create</a>
<ul>
{{#each records}}
<li>
    {{this.name}}
</li>
<a href="/records/{{this._id}}">detail</a>
<a href="/records/{{this._id}}/edit">edit</a>
<form action="/records/{{this._id}}?_method=DELETE" method="POST">
<button type="submit">delete</button>
</form>
{{/each}}
</ul>