<h1>Login</h1>
{{> message}}
<form action="/users/login" method="POST">
<label for="email">Email</label>   
<input type="text" name='email' id='email' placeholder="Enter your email">
<label for="password">Password</label>   
<input type="text" name='password' id='password' placeholder="Enter your password">
<button type="submit">Login</button>
</form>
<a href="/users/register">
Register
</a>