<form action="/records" method="POST">
<label for="name">項目</label>   
<input type="text" name='name' id='name' placeholder="午餐" required />
<label for="date">時間</label>   
<input type="text" name='date' id='date' placeholder="2000/01/01" required />
<label for="category">分類</label>   
<input type="text" name='category' id='category' placeholder="餐飲" required />
<label for="amount">金額</label>   
<input type="text" name='amount' id='amount' placeholder="5000" required />
<button type="submit">新增項目</button>
<a href="/">返回首頁</a>
<button type="reset" class="btn btn-outline-danger">重新輸入</button>
</form>
